.loginContainer {
  align-items: center;
  background: #6c7a89;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box {
  background: white;
  height: 350px;
  padding: 30px;
  width: 300px;
}

.loginButtons {
  margin: 0 5px;
}
